# Entorno virtual
venv/
__pycache__/
*.pyc

# Archivos temporales
*.log
.DS_Store

# Ignorar formatos de imagen comunes
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.webp
*.svg
*.tiff

data/
dataset/
predicciones/
Inventario/