certifi==2026.2.25
charset-normalizer==3.4.6
contourpy==1.3.3
cycler==0.12.1
filetype==1.2.0
fonttools==4.62.1
idna==3.7
kiwisolver==1.5.0
matplotlib==3.10.8
numpy==2.4.3
opencv-python-headless==4.10.0.84
packaging==26.0
pi_heif==1.3.0
pillow==12.1.1
pillow-avif-plugin==1.5.5
pydobot @ git+https://github.com/luismesas/pydobot.git@2ff8d7e1318ac9b7bc32bd33ff327d343f44927c
pyparsing==3.3.2
pyserial==3.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.32.5
requests-toolbelt==1.0.0
roboflow==1.2.11
RPi.GPIO==0.7.1
six==1.17.0
tqdm==4.67.3
urllib3==2.6.3
